.align-right {
    text-align: right;
}

.form-actions {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 10px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
