.align-right {
    text-align: right;
}

.form-actions {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.form-group {
    display: inline-block;
    margin-right: 15px;
}

.form-group label {
    margin-right: 5px;
    font-weight: bold;
}

.table {
    margin-top: 20px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
