body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

table.scroll {
    /* width: 100%; */ /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    border: 2px solid black;
}

    table.scroll tbody,
    table.scroll thead {
        display: block;
    }

thead tr th {
    height: 30px;
    line-height: 30px;
    /* text-align: left; */
}

table.scroll tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody {
    border-top: 2px solid black;
}

tbody td, thead th {
    /* width: 20%; */ /* Optional */
    /*border-right: 1px solid black;*/
    /* white-space: nowrap; */
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}
/*
.pmtallocated {
    align-content: end;
    color: red;
}

.pmtallocated pull-right {
    align-content: end;
    align-items: end;
    color: aquamarine;
}
*/

.align-right {
    /*align-items: end;*/
    /*align-content: end;*/
    text-align: right;
    /*color: red;*/
}   